.heading--1 {
  font-size: 2.25rem;
  font-weight: var($is-bold);
  text-align: center;
}

.heading--2 {
  font-size: 1.8rem;
  font-weight: var($is-bold);
  text-align: center;
}

.heading--3 {
  font-size: 1.44rem;
  font-weight: var($is-bold);
  text-align: center;
}
